


.container{
    width: 50%;
    padding: 50px;
    background: rgb(117, 1, 1);
    border-radius: 20px;
}
h1{
    font-family: Algerian;
}

.characttersheet{
    color: rgb(255, 0, 0);
}
.hide{
    display: none;
}